<!DOCTYPE html>
<html>
<head>
    <title>Checkbox example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app3.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

    <label>
        <input type="checkbox" ng-model="checked"> Checkbox
    </label>

    <p>
        <a href="#" ng-click="checked=true">Позначене</a> |
        <a href="#" ng-click="checked=false">Не позначене</a>
    </p>
    <a href="index.html">На головну</a>
</body>
</html>
