<!DOCTYPE html>
<html>
<head>
    <title>Checkbox Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app5.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

    <label>
        <input type="checkbox" ng-model="checkbox1" ng-change="toggleCheckbox()">
        Checkbox 1
    </label>

    <label>
        <input type="checkbox" ng-model="checkbox2" ng-change="toggleCheckbox()">
        Checkbox 2
    </label>
    <a href="index.html">На головну</a>
</body>
</html>
